extends ../layout

block content
  link(rel='stylesheet' href='/css/tags.css')
  link(rel='stylesheet' href='/css/editcube.css')
  .cubenav
    ul.nav.nav-tabs.nav-fill(style='padding-top:10px;')
      li.nav-item
        h5(href='#' style='color: #218937;padding:5px;') Compare Cubes
        h6(href='#' style='color: #218937;padding:5px;')
          span(style='color: #495057; padding:5px;') Base Cube:
          a(href='/cube/list/'+cube_id style='color: #218937;padding:5px;') #{cube.name}
            |  (#{cube.card_count} cards)
          span(style='color: #495057; padding:5px;') Comparison Cube:
          a(href='/cube/list/'+cubeB._id style='color: #218937;padding:5px;') #{cubeB.name}
            |  (#{cubeB.card_count} cards)
  //edit controls
  .usercontrols
    nav.navbar.navbar-expand.navbar-light
      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#', data-toggle="collapse" data-target="#navsort" aria-controls="navsort" aria-expanded="false" aria-label="Toggle navigation") Sort
          li.nav-item
            a.nav-link(href='#', data-toggle="collapse" data-target="#navfilter" aria-controls="navfilter" aria-expanded="false" aria-label="Toggle navigation") Filter
    #accordion.accordion
      if user
        if user.id == cube.owner
          #navedit.collapse(data-parent='#accordion')
            .container
              .row.collapse.warnings
                .col
                  .alert.alert-danger(role='alert') Invalid input: card not recognized.
              .row
                .col
                  form(autocomplete='off').form-inline
                    .mb-2.autocomplete
                      input.form-control#addInput(style='width: 350px', type='text', placeholder='Card to Add')
                    button.btn.btn-success.mx-sm-1.mb-2#justAddButton(type='button') Just Add
                .col
                  form.form-inline
                    .mb-2.autocomplete
                      input.form-control#removeInput(style='width: 350px', type='text', placeholder='Card to Remove')
                    button.btn.btn-success.mx-sm-1.mb-2#removeButton(type='button') Remove / Replace
              .collapse.editForm
                form#changelistForm(method='POST', action='/cube/edit/'+cube_id)
                  .row
                    .col
                      br
                      label Changelist:
                      .editarea
                        p.editlist#changelist
                      br
                      input#changelistFormBody(type='hidden', name='body')
                      input#changelistBlog(type='hidden', name='blog')
                    .col
                      br
                      #form-group
                        label Blog Title:
                        input.form-control(maxlength='200' name='title', type='text' value='Cube Updated - Automatic Post')
                      #form-group
                        label Body:
                        include ../texteditor
                  .row
                    .col
                      input.btn.mr-sm-2.btn-success#saveChangesButton(type='button', value='Save Changes')
                      input.btn.mr-sm-2.btn-danger#discardAllButton(type='button', value='Discard All')
                      br
                      br
      #navsort.collapse(data-parent='#accordion')
        .container
          .row
            .col
              h5 Primary Sort
              select#primarySortSelect.custom-select
              br
              p
                em  Cards will be appear as duplicates if they fit in multiple categories. The counts will still only count each item once.
            .col
              h5 Secondary Sort
              select#secondarySortSelect.custom-select
          .row
            .col
              button.updateButton.btn.btn-success(type='button') Update Table
              a
              br
              br
      #navfilter.collapse(data-parent='#accordion')
        .container
          .row
            .col
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text Filter Type
                select#filterType.custom-select(aria-label='Example select with button addon')
                .input-group-append
                  button#addFilterButton.btn.btn-success(type='button') Add Filter
              h5 Filters
              #filterarea
          .row
            .col
              button.updateButton.btn.btn-success(type='button') Update Table
              br
              br
      #navcompare.collapse(data-parent='#accordion')
        .container
          .row
            .col
              form(autocomplete='off').form-inline
                .mb-2
                  input.form-control#compareInput(style='width: 350px', type='text', placeholder='Cube ID to Compare to This Cube')
                button.btn.btn-success.mx-sm-1.mb-2#compareButton(type='button') Compare Cubes
                br
                br

  include ../flash


  input#cubeID(type='hidden', name='cubeID', value=cube_id)
  input#in_both(type='hidden', name='in_both', value=in_both)
  input#only_a(type='hidden', name='only_a', value=only_a)
  input#only_b(type='hidden', name='only_b', value=only_b)
  input#cuberaw(type='hidden', name='cuberaw', value=cube_raw)
  if user && user.id == cube.owner
    input#edittoken(type='hidden', name='edittoken', value='edit')
  if cube.default_sorts
    input#sort1(type='hidden', name='edittoken', value=cube.default_sorts[0])
    input#sort2(type='hidden', name='edittoken', value=cube.default_sorts[1])

  //Cube list
  br
  #react-root

  script(src='/js/autocomplete.js')
  script(src='/js/sortfilter.js')
  script(src='/js/tags.js')
  script(src='/js/editcube.js')
  script(src='/js/cube_compare.bundle.js')
